<% content_for :container_classes, "container-md" %>

<%= simple_form_for @list do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-10">
      <%= f.input :name, placeholder: "Enter new list name...",
                  label_html: { class: 'sr-only' } %>
    </div>
    <div class="col-xs-2">
      <%= f.button :submit, "+", title: "Create List", class: "btn-block" %>
    </div>
  </div>
<% end %>

<p>&nbsp;</p>

<% @lists.each do |list| %>
  <%= link_to list, class: "btn btn-default btn-block" do %>
    <%= list.name %> <span class="badge"><%= list.items.count %></span>
  <% end %>
<% end %>
