<%= simple_form_for List.new do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>

<%= @lists.each do |list| %>
  <div id="<%= dom_id list %>">
    <%= link_to list.name, list %>
    <%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
