<h1><%= @list.name %></h1>

<%= link_to "Edit list name", edit_list_path(@list) %>&nbsp;&nbsp;&nbsp;
<%= link_to "Delete list", @list, method: :delete,
    data: { confirm: 'Are you sure?' } %>

<p>&nbsp;</p>
<%= link_to new_item_path(list_id: @list.id), class: "btn btn-default xs-block" do %>
  <i class="fa fa-plus"></i> Add Item
<% end %>
<p>&nbsp;</p>

<table class="table list-items">
  <tbody>
    <% @items.each do |item| %>
      <tr id="<%= dom_id(item) %>">
        <td>
          <strong><%= link_to item.name, item %></strong><br>
          <%= item.description %>
        </td>
        <td class="small-col">
          <%= link_to list_assignment_path(item.list_assignments.where(list: @list).pluck(:id)), method: :delete, title: "Remove from list", class: "btn btn-default"  do %>
            <i class="fa fa-times"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @other_items.empty? %>
  <p>&nbsp;</p>

  <hr>

  <p>&nbsp;</p>

  <h3 class="text-center">Other items not on this list</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Add to list</th>
      </tr>
    </thead>
    <tbody>
      <% @other_items.each do |item| %>
        <tr id="<%= dom_id(item) %>">
          <td>
            <strong><%= link_to item.name, item %></strong><br>
            <%= item.description %>
          </td>
          <td class="small-col">
            <%= button_to item_list_assignments_path(item),
              params: { list_id: @list.id }, title: "Add to list", class: "btn btn-default" do %>
              <i class="fa fa-plus"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
