<% if @scan.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@scan.errors.count, "error") %> prohibited this scan from being saved:</h2>

    <ul>
    <% @scan.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= simple_form_for @scan, url: scans_path do |f| %>
  <%= f.input :barcode_image, as: :file %>
  <%= f.collection_check_boxes :list_ids, @lists, :id, :name, checked: params[:lists] %>
  <%= f.button :submit, "Scan Barcode" %>
  <%# <% byebug %>
  <%= f.input :quick_entry_mode, as: :boolean, input_html: { checked: @quick_entry_mode }, wrapper_html: { class: "text-muted" } %>
<% end %>
