<%= simple_form_for @item do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-10">
      <%= f.input :name, placeholder: "Enter new item name...",
                  label_html: { class: 'sr-only' }, autofocus: true %>
      <%= f.input :description, placeholder: "Enter optional description...",
                  label_html: { class: 'sr-only' },
                  input_html: { class: 'invisi-field' }  %>
    </div>
    <div class="col-xs-2">
      <%= f.button :submit, "+", title: "Add item", class: "btn-block" %>
    </div>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Delete</th>
      <th>Add to list</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <strong><%= link_to item.name, item %></strong><br>
          <%= item.description %>
        </td>
        <td class="small-col"></td>
        <td class="small-col"></td>
      </tr>
    <% end %>
  </tbody>
</table>
