<%= link_to "Add Item", new_item_path %>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Delete</th>
      <th>Add to list</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr id="<%= dom_id(item) %>">
        <td>
          <strong><%= link_to item.name, item %></strong><br>
          <%= item.description %>
          <%= image_tag item.photo.url if item.photo.exists? %>
        </td>
        <td class="small-col">
          <%= link_to item, title: "Delete", method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
            <i class="fa fa-times"></i>
          <% end %>
        </td>
        <td class="small-col">
          <%= link_to new_item_list_assignment_path(item), title: "Add to list",
              class: "btn btn-default" do %>
            <i class="fa fa-plus"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
