<!-- <ol class="breadcrumb">
  <li><%= link_to 'items', items_path %></li>
  <li class="active"><%= @item.name.downcase %></li>
</ol> -->

<small class="text-muted">Name</small>
<h1 class="item-name"><%= @item.name %></h1>
<% if @item.description? %>
  <small class="text-muted">Description</small>
  <p class="lead"><%= @item.description %></p>
<% end %>
<%= image_tag @item.photo.url if @item.photo.exists? %>

<div class="item-actions">
  <div class="row">
    <div class="col-xs-6">
      <%= link_to edit_item_path(@item), class: "btn btn-default btn-block" do %>
        <i class="fa fa-pencil"></i> Edit
      <% end %>
    </div>
    <div class="col-xs-6">
      <%= link_to new_item_list_assignment_path(@item), class: "btn btn-default btn-block" do %>
        <i class="fa fa-plus"></i> Add to list
      <% end %>
    </div>
  </div>
  <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<hr>

<h4 class="text-center">Lists this item is on</h4>
<% @item.lists.each do |list| %>
<%= button_to list.name, item_list_assignments_path(@item), params: { list_id: list.id }, class: "btn btn-default btn-block" %>
<% end %>
