<ol class="breadcrumb">
  <li><%= link_to 'items', items_path %></li>
  <li class="active"><%= @item.name.downcase %></li>
</ol>

<small class="text-muted">Name</small>
<h2 class="item-name"><%= @item.name %></h2>
<% if @item.description? %>
  <small class="text-muted">Description</small>
  <p class="lead"><%= @item.description %></p>
<% end %>

<div class="item-actions">
  <div class="row">
    <div class="col-xs-6">
      <%= link_to edit_item_path(@item), class: "btn btn-default btn-block" do %>
        <i class="fa fa-pencil"></i> Edit
      <% end %>
    </div>
    <div class="col-xs-6">
      <%= link_to @item, class: "btn btn-default btn-block" do %>
        <i class="fa fa-plus"></i> Add to list
      <% end %>
    </div>
  </div>
  <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<!-- <hr> -->
<!--  -->
<!-- <h4 class="text&#45;center">Lists this item is on</h4> -->
<!-- <p> -->
<!--   <a class="btn btn&#45;default btn&#45;block clearfix" href="#"> -->
<!--     <span class="pull&#45;left">Project name</span> -->
<!--     <span class="pull&#45;right badge">2</span> -->
<!--   </a> -->
<!-- </p> -->
